:root {
    --main-theme-color: #81d1d0;
    --white-theme-color: #fff;
    --gray-theme-color: #6E6B7B;
    --black-theme-color: "#00000";
    --text-muted-color: #dee2e6;
    --bs-body-font-size: 1rem;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-font-sans-serif: Roboto;
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --primary-color: #FFFFFF;
    --link-color: #306BAC;
    --seconday-color: #72DFD0;
    --primary-light-color: #6799DE;
  }